body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.table{
    grid-template-columns: 150px 150px 150px;
    position: relative;
    display: none;
}

.cell{
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#c5{
    border: 2px solid;
}

#c2, #c8{
    border-left: 2px solid;
    border-right: 2px solid;
}

#c4, #c6{
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#skres{
    position: absolute;
    color: red;
    background-color: pink;
    width: 250px;
    height: 15px;
    display: none;
}

.checkPlayer-cont{
    border: 2px solid;
    padding: 2rem;
    font-size: 2rem;
}

.checkPlayer{
    height: 4rem;
    width: 4rem;
    border: none;
}
.checkPlayer-cont-buttons {
    display: flex;
    justify-content: space-evenly;
}

.checkPlayer1
{
background-color: #53a292;
}

.checkPlayer2{
    background-color: #bf3434;
}

@keyframes line-anim {

}
